@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden !important;
  position: absolute;
  overflow-y: scroll !important;
  scroll-behavior: smooth;
}

.blog-container {
  background-color: white;
  width: 100vw;
}

.blog-header {
  height: 30rem;
  background: url("./images/bg-pattern-intro.svg"), #ff525d;
  background-repeat: no-repeat;
  background-size: 100% 400%;
  background-position: right;
  border-bottom-left-radius: 5rem;
  padding: 3rem;
}

.blog-header .blog-header-center {
  width: 80%;
  margin: auto;
}

.blog-header .blog-header-center .blog-header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-logo {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  font-size: 2rem;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list {
  -webkit-box-flex: 0.5 !important;
      -ms-flex: 0.5 !important;
          flex: 0.5 !important;
  width: 100%;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul .navbar-list-item {
  font-size: 1.2rem;
  text-decoration: none;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  margin-right: 4rem !important;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul .navbar-list-item .navbar-link {
  color: white;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul .navbar-list-item .navbar-link i {
  margin-left: 1rem;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul .navbar-list-item .navbar-link::after {
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  content: "\f107";
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: content 500ms ease-in;
  transition: content 500ms ease-in;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-right .navbar-list ul .navbar-list-item .navbar-link:hover::after {
  content: "\f106";
}

.blog-header .blog-header-center .blog-header-navbar .navbar-left {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-left .navbar-auth {
  font-size: 1.2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  text-decoration: none;
  background-color: transparent;
  color: white;
  padding: 1rem;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-left .hamberger {
  display: none;
}

.blog-header .blog-header-center .blog-header-navbar .navbar-left .active {
  font-size: 1.2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  text-decoration: none;
  background-color: white;
  mix-blend-mode: screen;
  border-radius: 100vw;
  padding: 1rem 2rem;
}

.blog-header .blog-header-center .header-tagline {
  width: 100%;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog-header .blog-header-center .header-tagline .header-main-heading {
  font-size: 3rem;
  font-family: "Overpass", sans-serif;
  color: white;
  margin-bottom: 1rem;
}

.blog-header .blog-header-center .header-tagline .header-small-heading {
  font-size: 1.2rem;
  color: white;
  font-family: "Overpass", sans-serif;
  margin-bottom: 3rem;
}

.blog-header .blog-header-center .header-tagline .active {
  font-size: 1.2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: white;
  mix-blend-mode: screen;
  border-radius: 100vw;
}

.blog-header .blog-header-center .header-tagline .btn {
  font-size: 1.2rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid white;
  color: white;
  border-radius: 100vw;
}

.content-body {
  margin-top: 3rem;
}

.content-body .content-body-intro {
  position: relative;
  height: 60rem;
}

.content-body .content-body-intro::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background: url("./images/illustration-editor-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
}

.content-body .content-body-intro .title {
  text-align: center;
  padding-top: 10rem;
  font-size: 2rem;
  word-spacing: 2px;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #1f3f5b;
}

.content-body .content-body-intro .content-container {
  padding: 7rem;
}

.content-body .content-body-intro .content-container .content-body-content {
  margin-bottom: 4rem;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.content-body .content-body-intro .content-container .content-body-content .content-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #25252d;
  margin-bottom: 1.5rem;
}

.content-body .content-body-intro .content-container .content-body-content .article {
  width: 50ch;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  line-height: 2rem;
}

.content-body .content-body-infra {
  height: 30rem;
  margin-top: 2rem;
  position: relative;
  background-color: #3f4164;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.content-body .content-body-infra .content-infra-content {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 3;
}

.content-body .content-body-infra .content-infra-content .content-title {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Overpass", sans-serif;
  color: white;
  margin-bottom: 1.5rem;
}

.content-body .content-body-infra .content-infra-content .article {
  width: 50ch;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  line-height: 2rem;
  color: white;
}

.content-body .content-body-infra::before {
  position: absolute;
  content: "";
  background: url("./images/illustration-phones.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 150%;
  -webkit-transform: translate(5%, 4%);
          transform: translate(5%, 4%);
  background-position: left;
  z-index: 2;
}

.content-body .content-body-infra::after {
  position: absolute;
  content: "";
  background: url("./images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 55% 140%;
  width: 100%;
  height: 100%;
  background-position: left;
  overflow: hidden;
  z-index: 1;
}

.content-body .content-body-simple {
  position: relative;
  height: 50rem;
  width: 100%;
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}

.content-body .content-body-simple .content-body-content {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  margin-bottom: 4rem;
}

.content-body .content-body-simple .content-body-content .content-title {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  color: #25252d;
  margin-bottom: 1.5rem;
}

.content-body .content-body-simple .content-body-content .article {
  width: 50ch;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  line-height: 2rem;
}

.content-body .content-body-simple::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("./images/illustration-laptop-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-transform: translateX(-12.5%);
          transform: translateX(-12.5%);
}

.footer {
  margin-top: auto;
  height: 30rem;
  background-color: #25252d;
  border-top-right-radius: 5rem;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: space-evenly !important;
      -ms-flex-pack: space-evenly !important;
          justify-content: space-evenly !important;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.footer .heading {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: white;
  padding: 0;
}

.footer .title {
  font-size: 1.5rem;
  padding-top: 0.8rem;
  color: #c8c8cb;
  margin-bottom: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.footer .lists {
  list-style: none;
}

.footer .lists .list-item {
  margin-bottom: 1rem;
}

.footer .lists .list-item .list-link {
  font-size: 1.2rem;
  color: #c8c8cb;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .blog-header {
    width: 100vw !important;
    height: 40rem;
    padding: 1rem;
  }
  .blog-header .blog-header-navbar .navbar-right .navbar-list {
    display: none;
    width: 100% !important;
  }
  .blog-header .blog-header-navbar .navbar-right .navbar-list ul {
    width: 100% !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
  }
  .blog-header .blog-header-navbar .navbar-right .navbar-list.show {
    display: block !important;
  }
  .blog-header .blog-header-navbar .navbar-left .navbar-auth {
    display: none !important;
  }
  .blog-header .blog-header-navbar .navbar-left .active {
    display: none !important;
  }
  .blog-header .blog-header-navbar .navbar-left .hamberger {
    background: url("./images/icon-hamburger.svg");
    display: block !important;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 100% 100%;
  }
  .blog-header .header-tagline {
    text-align: center;
    height: 30rem !important;
  }
  .blog-header .header-tagline .header-main-heading {
    font-size: 2.5rem !important;
  }
  .content-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-body .content-body-intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-body .content-body-intro .title {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  .content-body .content-body-intro::before {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-position: center;
    width: 32rem;
    height: 60rem;
  }
  .content-body .content-body-intro .content-container {
    padding: 0rem !important;
    width: 100% !important;
  }
  .content-body .content-body-intro .content-container .content-body-content {
    padding: 1rem;
    margin-top: 60rem !important;
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    text-align: center !important;
  }
  .content-body .content-body-intro .content-container .content-body-content:nth-child(2) {
    margin-top: 0 !important;
  }
  .content-body .content-body-infra {
    margin-top: 45rem;
    height: 40rem;
    border-top-right-radius: 0%;
  }
  .content-body .content-body-infra .content-infra-content {
    padding: 1rem;
    margin-top: 15rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content-body .content-body-infra .content-infra-content .content-title {
    text-align: center;
  }
  .content-body .content-body-infra .content-infra-content .article {
    width: 100%;
    text-align: center;
  }
  .content-body .content-body-infra::before {
    -webkit-transform: translate(0%, -30%);
            transform: translate(0%, -30%);
    width: 32rem;
    height: 60rem;
  }
  .content-body .content-body-infra::after {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    background-size: 100% 80%;
    width: 32rem;
    height: 40rem;
  }
  .content-body .content-body-simple {
    margin-top: 0%;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .content-body .content-body-simple .content-body-content {
    padding: 1rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(230%);
            transform: translateY(230%);
    text-align: center;
    margin-bottom: 8rem;
  }
  .content-body .content-body-simple .content-body-content .article {
    width: 100%;
  }
  .content-body .content-body-simple .content-body-content:nth-child(2) {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .content-body .content-body-simple::before {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    background-position: center;
    width: 32rem;
    height: 50rem;
  }
  .footer {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    height: auto;
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center !important;
  }
  .footer .heading {
    margin-bottom: 5rem;
  }
  .footer .title {
    color: white !important;
  }
  .footer .footer-product, .footer .footer-company {
    margin-bottom: 2rem;
  }
  .content-body-content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    margin-top: 30rem;
  }
  .content-body-content .article {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */